In [1]:
import numpy as np
import pandas as pd

In [2]:
# series
list1 = [11,12,14,55]
s = pd.Series(list1)
s

0    11
1    12
2    14
3    55
dtype: int64

In [3]:
n = np.array(list1)
s = pd.Series(n)
s

0    11
1    12
2    14
3    55
dtype: int32

In [4]:
type(n)

numpy.ndarray

In [5]:
type(s)

pandas.core.series.Series

In [6]:
s.values

array([11, 12, 14, 55])

In [7]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
list(s.index)

[0, 1, 2, 3]

In [9]:
s.index = ['A','B','C','D']

In [10]:
list(s.index)

['A', 'B', 'C', 'D']

In [11]:
s.B

12

In [12]:
 s.E = 100
s

A    11
B    12
C    14
D    55
dtype: int32

In [13]:
s.A = 100
s

A    100
B     12
C     14
D     55
dtype: int32

In [14]:
s = pd.Series({'Python':100,'NumPy':88, 'Pandas':98})
s

Python    100
NumPy      88
Pandas     98
dtype: int64

In [16]:
s['Python']
s.Python

100

In [17]:
s.Python

100

In [18]:
s[['Python','NumPy']]

Python    100
NumPy      88
dtype: int64

In [19]:
type(s[['Python','NumPy']])

pandas.core.series.Series

In [21]:
s.loc['Python']

100

In [22]:
s

Python    100
NumPy      88
Pandas     98
dtype: int64

In [23]:
s[0]
s[[0,1]]

Python    100
NumPy      88
dtype: int64

In [25]:
s.iloc[0]

100

In [27]:
s = pd.Series({
    'English':100,
    'Math':89,
    'Bio':55,
    'Python':67,
    'NumPy':90,
    'Pandas':88
})
s

English    100
Math        89
Bio         55
Python      67
NumPy       90
Pandas      88
dtype: int64

In [28]:
s[1:4]

Math      89
Bio       55
Python    67
dtype: int64

In [29]:
s.iloc[1:4]

Math      89
Bio       55
Python    67
dtype: int64

In [30]:
s['English':'NumPy']

English    100
Math        89
Bio         55
Python      67
NumPy       90
dtype: int64

In [31]:
s

English    100
Math        89
Bio         55
Python      67
NumPy       90
Pandas      88
dtype: int64

In [32]:
s.shape

(6,)

In [33]:
s.size

6

In [34]:
s.index

Index(['English', 'Math', 'Bio', 'Python', 'NumPy', 'Pandas'], dtype='object')

In [35]:
s.values

array([100,  89,  55,  67,  90,  88], dtype=int64)

In [36]:
s.head()

English    100
Math        89
Bio         55
Python      67
NumPy       90
dtype: int64

In [38]:
s.tail()

Math      89
Bio       55
Python    67
NumPy     90
Pandas    88
dtype: int64

In [39]:
s.head(3)

English    100
Math        89
Bio         55
dtype: int64

In [40]:
s = pd.Series([23,22,54,66,np.nan])

In [41]:
s

0    23.0
1    22.0
2    54.0
3    66.0
4     NaN
dtype: float64

In [42]:
s.isnull()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [43]:
pd.isnull(s)

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [44]:
s.notnull()

0     True
1     True
2     True
3     True
4    False
dtype: bool

In [45]:
cond1 = s.isnull()

In [47]:
s[~cond1]

0    23.0
1    22.0
2    54.0
3    66.0
dtype: float64

In [48]:
cond2 = s.notnull()
s[cond2]

0    23.0
1    22.0
2    54.0
3    66.0
dtype: float64

In [52]:
s1 = pd.Series(np.random.randint(10,100,size=3))
s2 = pd.Series(np.random.randint(10,50,size=3))
display(s1,s2)

0    54
1    90
2    78
dtype: int32

0    47
1    29
2    44
dtype: int32

In [51]:
s+100

0    152
1    145
2    145
3    179
4    142
5    149
6    136
7    163
8    188
9    161
dtype: int32

In [53]:
s1 + s2

0    101
1    119
2    122
dtype: int32

In [55]:
s3 = pd.Series(np.random.randint(10,100,size=3))
s4 = pd.Series(np.random.randint(10,50,size=4))
display(s3,s4)

0    94
1    36
2    27
dtype: int32

0    11
1    47
2    28
3    22
dtype: int32

In [56]:
s3.add(s4,fill_value=0)

0    105.0
1     83.0
2     55.0
3     22.0
dtype: float64

In [57]:
# DataFrame
d = {
    'name':['Python','NumPy','Pandas'],
    'age':[10,20,5]
}
df = pd.DataFrame(d)
df

     name  age
0  Python   10
1   NumPy   20
2  Pandas    5

In [61]:
display(df)
df.values
df.columns
df.index
df.shape

     name  age
0  Python   10
1   NumPy   20
2  Pandas    5

(3, 2)

In [62]:
df.head(2)

     name  age
0  Python   10
1   NumPy   20